<div class="col-md-12">

  <h2 class="title" [ngClass]="showRandomButton()">Click The Button for a random city!</h2>

  <button class="randomize btn btn-default orange-button center-button"
          [ngClass]="showRandomButton()"
          (click)="randomize()">Randomize!
  </button>

  <h1 class="random-title"
      [ngClass]="checkRandomSelected()">Your Random City is...</h1>
  <div class="random-result"
       [ngClass]="checkRandomSelected()">{{getCurrentCity('cityName')}}, {{getCurrentCity('cityState')}} {{getCurrentCity('timezoneOffset')}}
  </div>

  <h2 class="title">Current Towns</h2>
  <div id="current-cities">
    <div class="city-results" *ngFor="let key of results">
      <tr>
        <th>{{resultValues[key].cityName}},</th>
        <th>{{resultValues[key].cityState}}</th>
        <th>{{getDateFromTimeZone(resultValues[key].timezoneOffset)}}</th>
      </tr>
    </div>
  </div>

</div>

