.random-title {
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

.random-result {
  margin: auto;
  text-align: center;
}

.town-results {
  width: 80%;
  margin: auto;
  text-align: center;
}

#current-towns {
  overflow-y: scroll;
  height: 300px;
  margin-right: -50px;
  padding-right: 50px;
}

tbody {
  display: inline;
}

th {
  padding: 5px;
}
