<div class="col-md-12">
  <h2 id="container-title">Seconday Header</h2>
  <div class="form-group">
    <label for="town">Town</label>
    <input type="text" class="form-control" id="town" required>
    <!--<label for="state">State</label>-->
    <!--<input type="text" class="form-control" id="state" required>-->

    <label>State</label>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <!--<label for="zip">Zipcode</label>-->
    <!--<input type="text" class="form-control" id="zip" required>-->
  </div>

  <!--<input id="search-bar" placeholder="Select a town" (keyup)="searchTerm$.next($event.target.value)">-->

</div>

