<div class="col-md-12">
  <h2 class="title">Find any address, and add the town to the list</h2>

  <button class="add-town btn btn-default grey-button center-button"
          (click)="submitInput()">Add Current Town
  </button>

  <div class="error alert alert-danger"
       [ngClass]="checkErrorValidation()">
    Please select a location defined by a Town and State
  </div>

  <div class="success alert alert-success"
       [ngClass]="checkSuccessValidation()">
    Successfully Added!
  </div>

  <ng4geo-autocomplete (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
</div>

