$white: #FFFFFF;
$light-grey: #F2F2F2;
$orange: #FFA500;
$blue: #4174C7;
$hover-blue: rgba(65, 116, 199, 0.15);

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $light-grey;
  font-family: lato;
}

app-root {
  display: block;
  height: 67%;
}

app-navigation {
  display: grid;
  width: 100%;
  position: absolute;
  bottom: 12%;
}

#navbar {
  overflow: hidden;
  background: $blue;
  display: flex;
}

.nav-title, .nav-contact-mobile {
  display: none;
}

#navbar div {
  float: left;
  margin: auto;
  font-weight: bold;
  color: white;
  padding: 1%;
}

#navbar img {
  max-width: 30px;
  margin: .8%;
}

#navbar button {
  float: right;
  background-color: $blue;
  color: $white;
  margin: .8%;
  font-weight: 400;
  border: 1px solid $white;
}

#navbar button:hover {
  float: right;
  margin: .8%;
  background-color: $white;
  color: $blue;
  font-weight: 400;
  border: 1px solid $white;
}

.nav-content {
  width: 80%;
  padding: 0px !important;
}

#footer {
  overflow: hidden;
  background: $blue;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#footer p{
  margin: auto;
  padding: 1%;
  text-align: center;
  font-weight: bold;
  color: white;
}
.container {
  position: relative;
  width: 75%;
  margin: auto;
  margin-bottom: 5%;
  background-color: $white;
  box-shadow: 6px 6px 20px -10px #888888;
  height: 100%;
  padding: 0px;
  border-radius: 5px;
  overflow: hidden;
}

#app-title {
  text-align: center;
  padding: 1%;
}

#app-title h1 {
  font-size: 24px;
}

.row {
  width: 100%;
  margin: auto;
}

.text-align-center {
  text-align: center;
}

.title {
  text-align: center;
  margin-top: 3%;
  font-size: 22px;
  font-weight: 200;
  color: #616161;
}

.show-page {
  display: block !important;
}

.hide-page {
  display: none !important;
}

.error, .success {
  width: 40%;
  margin: auto;
  text-align: center;
  margin-top: 2%;
}

.randomize {
  margin: auto;
  margin-top: 2% !important;
}

.add-town {
  margin: auto;
  margin-top: 2% !important;
  margin-bottom: 2%;
}

#search-results {
  text-align: center;
  overflow-y: scroll;
  height: 300px;
  margin-right: -50px;
  padding-right: 50px;
}

.search-result {
  margin: 0% 25% 0% 25%;
  width: 50%;
  font-size: 18px;
  padding: 5px;
  border: 0px solid $blue;
  border-top: 0px;
}

.search-result:hover {
  background-image: radial-gradient(circle, rgba(65, 116, 199, 0.12) 5%, $white 60%);
  cursor: pointer;
}

.button-container {
  display: flex;
  width: 30%;
  margin: auto;
}

.orange-button {
  position: absolute;
  right: 0;
  background: $orange;
  color: $white;
  border: $white;
  padding: .5% 1% .5% 1%;
  font-size: 20px;
  font-weight: 300;
  margin-right: 2%
}

.orange-button:hover {
  opacity: .8;
  background: $orange;
  color: white;
  border: white;
}

.orange-button:focus,.orange-button:active {
  background: $orange !important;
  color: white !important;
  border: white;
  outline: none !important;
  box-shadow: none;
}

.grey-button {
  position: absolute;
  background: grey;
  color: $white;
  border: $white;
  padding: .5% 1% .5% 1%;
  font-size: 20px;
  font-weight: 300;
  margin-left: 2%
}

.grey-button:hover {
  opacity: .8;
  background: grey;
  color: $white;
  border: $white;
}

.center-button {
  display: block;
  position: inherit;
  margin: auto;
}

.grey-button:focus,.grey-button:active {
  background: grey !important;
  color: $white !important;
  border: $white;
  outline: none !important;
  box-shadow: none;
}

ng4geo-autocomplete {
  #search_places {
    width: 80%;
    margin: auto;
    border-radius: 5px;
    margin-top: 2% !important;
  }

  .search-icon {
    display: none;
  }

  .custom-autocomplete__dropdown[_ngcontent-c4] {
    position: static;
    background: $white;
    margin: auto;
    padding: 0;
    width: 80%;
    text-align: center;
    list-style: none;
    border: none;
    z-index: 99;
    top: 50px;
  }

  .custom-autocomplete__dropdown[_ngcontent-c4] {
    .active[_ngcontent-c4] a[_ngcontent-c4] {
      background-color: $hover-blue;
    }

    .heading[_ngcontent-c4] {
      .line-location[_ngcontent-c4], .line-recent[_ngcontent-c4] {
        display: none;
      }
    }

    .currentlocation[_ngcontent-c4] .location-icon[_ngcontent-c4] {
      display: none;
    }
  }
}
